<div class="bg-light lter b-b wrapper-md">
  <h1 class="m-n font-thin h3">Dati Acotel</h1>
</div>

<div class="wrapper">
	<div class="row">
				
				<div class="col-md-9">
					<div acotel-chart ></div>	
				</div>
				
				<div class="col-md-3">
					<div settings-building-acotel-selection></div>			
				</div>
				
	</div>
</div>