<div class="bg-light lter b-b wrapper-md">
  <h1 class="m-n font-thin h3">Bilancio CO<sub>2</sub></h1>
</div>

<div class="wrapper">
			<div class="column">
				
				<div class="col-md-12">
					<div coalbalance-chart>	</div>

				</div>	

				<div class="col-md-12">
				<div class="panel panel-default"> 
						<div class="panel-heading">
									  <h4 class="font-thin m-t-none m-b-none text-primary-lt">Tabella Emissioni CO<sub>2</sub></h4>              
						</div>
									
									<div class="panel-body">
									
									<!-- CSS goes in the document HEAD or added to your external stylesheet -->
									<style type="text/css">
									table.gridtable {
										font-family: verdana,arial,sans-serif;
										font-size:11px;
										color:#333333;
										border-width: 1px;
										border-color: #666666;
										border-collapse: collapse;
									}
									table.gridtable th {
										border-width: 1px;
										padding: 8px;
										border-style: solid;
										border-color: #666666;
										background-color: #dedede;
									}
									table.gridtable td {
										border-width: 1px;
										padding: 8px;
										border-style: solid;
										border-color: #666666;
										background-color: #ffffff;
									}
									</style>
									

									
										<table class="gridtable" width="100%">
											  <tr>
												<th>Fonte</th>
												<th>2013</th>
												<th>2014</th>
												<th>% CO<sub>2</sub> risparmiata nel 2014</th>
											  </tr>
											  <tr>
												<td>Gasolio</td>
												<td>{{data._2013[0] | number : 2}}</td>
												<td>{{data._2014[0] | number : 2}}</td>
												<td>{{data._2013vs2014[0] | number : 2}}</td>
											  </tr>
											  <tr>
												<td>Elettricità</td>
												<td>{{data._2013[1] | number : 2}}</td>
												<td>{{data._2014[1] | number : 2}}</td>
												<td>{{data._2013vs2014[1] | number : 2}} %</td>
											  </tr>
											  <tr>
												<td>Gas Naturale</td>
												<td>{{data._2013[2] | number : 2}}</td>
												<td>{{data._2014[2] | number : 2}}</td>
												<td>{{data._2013vs2014[2] | number : 2}} %</td>
											  </tr>
											  <tr>
												<td>GPL</td>
												<td>{{data._2013[3] | number : 2}}</td>
												<td>{{data._2014[3] | number : 2}}</td>
												<td>{{data._2013vs2014[3] | number : 2}}</td>
											  </tr>
											  <tr >
												<th>Totale CO<sub>2</sub></th>
												<th>{{data._2013[4] | number : 2}} ton</th>
												<th>{{data._2014[4] | number : 2}} ton</th>
												<th>{{data._2013vs2014[4] | number : 2}} %</th>
											  </tr>
										</table>
											
											
																 
									</div>
				
				
					
					</div>
				</div>
	<!--			
				<div class="col-md-12">
				<div class="panel panel-default"> 
						<div class="panel-heading">
									  <h4 class="font-thin m-t-none m-b-none text-primary-lt">Tabella Emissioni CO<sub>2</sub> da Manutenzione</h4>              
						</div>
									
									<div class="panel-body">
										<table class="gridtable" width="100%">
											  <tr>
												<th>Fonte</th>
												<th>2013</th>
												<th>2014</th>
												<th>% CO<sub>2</sub> risparmiata nel 2014</th>
											  </tr>
											  <tr>
												<td>Manutenzione Straordinaria</td>
												<td>{{dataM.annoDaCo2M  | number : 2}}</td>
												<td>{{dataM.annoACo2M | number : 2}}</td>
												<td>{{dataM.co2MTotPerc | number : 2}} %</td>
											  </tr>
											  <tr>
												<td>Ticket</td>
												<td>{{dataM.annoDaCo2T | number : 2}}</td>
												<td>{{dataM.annoACo2T | number : 2}}</td>
												<td>{{dataM.co2TTotPerc | number : 2}} %</td>
											  </tr>
											  <tr >
												<th>Totale CO<sub>2</sub></th>
												<th>{{dataM.annoDaCo2Tot | number : 2}} ton</th>
												<th>{{dataM.annoACo2Tot | number : 2}} ton</th>
												<th>{{dataM.percTot | number : 2}} %</th>
											  </tr>
										</table>
											
											
																 
									</div>
				
				-->
					
					</div>
				</div>
				<!--
				<div class="col-md-12">
					<div co2-saved-chart>	</div>

				</div>
				-->
				<div class="row clearfix"></div>		
				<br><br>
				
			</div>
			
			
	</div>
	<br>

