<div class="bg-light lter b-b wrapper-md">
  <h1 class="m-n font-thin h3">Consuntivi</h1>
</div>

<div class="wrapper">
	<div class="row">
				
				<div class="col-md-9">
					<div consumptions-chart ></div>	
				</div>
				
				<div class="col-md-3">
					<div settings-multiple-selection></div>			
				</div>
				
	</div>
</div>