<div class="bg-light lter b-b wrapper-md">
  <h1 class="m-n font-thin h3">Consumi Mensili</h1>
</div>

<div class="wrapper">
			<div class="row">
				
				<div class="col-md-9">
					<div consumptions-monthly-chart ></div>	
				</div>
				
				<div class="col-md-3">
					<div settings-single-selection-and-year></div>			
				</div>
				
			</div>
<!--
			<div class="row">

				<div class="col-md-9">
					<div coal-chart ></div>
				</div>

				<div class="col-md-9">
					<div co2-saved-chart>	</div>

				</div>

			</div>
-->			
			<div class="row row-eq-height">
				
			</div>
			
			
	</div>
	<br>

