<div class="bg-light lter b-b wrapper-md">
  <h1 class="m-n font-thin h3">Profili energetici</h1>
</div>


  
	<div class="wrapper">
		<div class="row">
			
			<!--div class="col-md-9">
				<div building-info></div>
			</div-->
			
			<div class="col-md-9">
					<div profiles-chart ></div>
			</div>
			
			<div class="col-md-3">
				<div class="row">
					<div class="col-md-12">
						<div settings-building-selection></div>			
					</div>
				</div>
				
				<div class="row">
					<div class="col-md-12">
						<div class="panel panel-default">    
							<div class="panel-heading">
							  <h4 class="font-thin m-t-none m-b-none text-primary-lt">Alert</h4>              
							</div>
							<div class="panel-body">
								<div alert-list alerttype="baseload"></div>						 
							</div>

						</div>
					</div>
				</div>
				
			</div>
			
		</div>
					
	</div>
  


