#loading {
    position: absolute;
    z-index: 100;    
    background-color: rgba(28,43,54, 0.7);
    background-image: url("../images/loading.gif");
    background-repeat: no-repeat;
    background-position: 50% 30%;
	background-size: 80px 80px;
}

@media (min-width: 768px)
{
	#loading { width: 90%; height: 100%; }
}

@media (min-width: 992px)
{
	#loading { width: 100%; height: 100%; }
}

@media (max-width: 767px)
{
	#loading { width: 100%;	height: 100%; }
}
