<div class="panel panel-default bg-auto"> 

			<div class="panel-heading">
			  <h4 class="font-thin m-t-none m-b-none text-primary-lt">Modulo EPI</h4>              
            </div>  

			<div class="panel-body">                       

					<div id="tabs" ng-show="building.codice">

									<div class="row row-centered bg-auto">
									  									
									  <div class="col-md-offset-1 col-xs-6 col-sm-2 col-centered"><button type="button" class="btn btn-primary raised round gradient {{ currentTab=='directives/epi-form/dati-edificio.html'&& 'active' || '' }}" ng-click="onClickTab('directives/epi-form/dati-edificio.html')" style="width: 100%;"><img src="styles/images/building2.png" style="width: 40%"><br><small>Dati Edificio</small></button></div>
									  <div class="col-xs-6 col-sm-2 col-centered"><button type="button" class="btn btn-primary raised round gradient {{ currentTab=='directives/epi-form/impianticlima.html' && 'active' || '' }}" ng-click="onClickTab('directives/epi-form/impianticlima.html')" style="width: 100%;"><img src="styles/images/winter.png" style="width: 40%"><br><small>Impianti Climatizzazione</small></button></div>					  					  
									  <div class="col-xs-6 col-sm-2 col-centered"><button type="button" class="btn btn-primary raised round gradient {{ currentTab=='directives/epi-form/illuminazione.html' && 'active' || ''  }}" ng-click="onClickTab('directives/epi-form/illuminazione.html')" style="width: 100%;"><img src="styles/images/bright.png" style="width: 40%"><br><small>Impianti Illuminazione</small></button></div>					 																							
									  <div class="col-xs-6 col-sm-2 col-centered"><button type="button" class="btn btn-primary raised round gradient {{ currentTab=='directives/epi-form/sup-opache.html' && 'active' || '' }}" ng-click="onClickTab('directives/epi-form/sup-opache.html')" style="width: 100%;"><img src="styles/images/bricks11.png" style="width: 40%"><br><small>Superfici Opache</small></button></div>			 					
									  <div class="col-xs-6 col-sm-2 col-centered"><button type="button" class="btn btn-primary raised round gradient {{ currentTab=='directives/epi-form/comp-trasparenti.html' && 'active' || '' }} " ng-click="onClickTab('directives/epi-form/comp-trasparenti.html')" style="width: 100%;"><img src="styles/images/window.png" style="width: 40%"><br><small>Componenti Trasparenti</small></button></div>
									
									</div>	
							
							<div id="mainView">
								<div ng-include="currentTab"></div>
							</div>		

						
					</div>
					
			</div>
</div>
