<div class="panel panel-default bg-auto">   
			<br>
            <div class="panel-body">      

					<form class="form-horizontal" role="form" id="form-epi"  name="form_epi" ng-submit="onSubmit()">
					
							<img src="styles/images/winter.png " style="width: 100px;"><legend class="righter sublegendmenu">IMPIANTI DI RISCALDAMENTO</legend>
							
							<div class="col-md-12">
								<legend class="righter sublegendmenu"> Caldaie</legend>
								
								<div class="col-md-12">
									<div class="row clearfix">
										<div class="col-md-4 column" ng-class="{'has-error': form_epi.quotaCaldaie.$invalid}">															
											<label for="quotaCaldaie">Quota copertura fabbisogno caldaie [%]</label>												
											<input type="number" min="0" step="any" class="form-control" ng-pattern="/^\d{0,9}(\.\d{1,9})?$/" name="quotaCaldaie" id="quotaCaldaie" ng-model="moduloepi.datiedificio.quotaCaldaie" required>
										</div>
										
										<div class="col-md-4 column" ng-class="{'has-error': form_epi.potenza_Caldaia.$invalid}">															
											<label for="potenza_Caldaia">Potenza utile nominale complessiva [kW]</label>												
											<input type="number" min="0" step="any" class="form-control" ng-pattern="/^\d{0,9}(\.\d{1,9})?$/" name="potenza_Caldaia" id="potenza_Caldaia" ng-model="moduloepi.datiedificio.potenza_Caldaia" required>
										</div>
										
										<div class="col-md-4 column" ng-class="{'has-error': form_epi.potenza_media_Caldaia.$invalid}">															
											<label for="potenza_media_Caldaia">Potenza utile nominale media [kW]</label>												
											<input type="number" min="0" step="any" class="form-control" ng-pattern="/^\d{0,9}(\.\d{1,9})?$/" name="potenza_media_Caldaia" id="potenza_media_Caldaia" ng-model="moduloepi.datiedificio.potenza_media_Caldaia" required>
										</div>
										
									</div>
								</div>
								
								
								<div class="col-md-12">
									<div class="row clearfix">
									
										<div class="col-md-4 column">															
											<label for="tipodistribuzione_C">Tipologia di distribuzione</label>
											<select name="tipodistribuzione_C" ng-model="tipodistribuzione_C.selectedOption" class="form-control" ng-options="option.name for option in tipodistribuzione_C.availableOptions track by option.id"></select>
										</div>
										
										<div class="col-md-4 column">
												<label for="eta_C">Rendimento globale &eta;<sub>gC</sub> </label>												
												<input type="number" step="any" class="form-control" id="eta_C" placeholder="{{ moduloepi.datiedificio.etagn_caldaia*moduloepi.datiedificio.etae_caldaia*moduloepi.datiedificio.etarg_caldaia*moduloepi.datiedificio.etad_caldaia}}" readonly>
										</div>
										
										<div class="col-md-4 column" ng-class="{'has-error': form_epi.etagn_caldaia.$invalid}">
												<label for="etagn_caldaia">Rendimento generazione &eta;<sub>genC</sub></label>											
												<input type="number" min="0" step="any"  class="form-control" ng-pattern="/^\d{0,9}(\.\d{1,9})?$/" name="etagn_caldaia" id="etagn_caldaia" ng-model="moduloepi.datiedificio.etagn_caldaia" required>
										</div>
										
									</div>
								</div>
								
								
								<div class="col-md-12">
											<div class="row clearfix">
													<div class="col-md-4 column" ng-class="{'has-error': form_epi.etae_caldaia.$invalid}">
														<label for="etae_caldaia">Rendimento emissione &eta;<sub>eC</sub></label>												
														<input type="number" min="0" step="any"  class="form-control" ng-pattern="/^\d{0,9}(\.\d{1,9})?$/" name="etae_caldaia" id="etae_caldaia" ng-model="moduloepi.datiedificio.etae_caldaia" required>
													</div>
													<div class="col-md-4 column" ng-class="{'has-error': form_epi.etarg_caldaia.$invalid}">															
														<label for="etarg_caldaia">Rendimento regolazione &eta;<sub>rC</sub></label>											
														<input type="number" min="0" step="any"  class="form-control" ng-pattern="/^\d{0,9}(\.\d{1,9})?$/" name="etarg_caldaia" id="etarg_caldaia" ng-model="moduloepi.datiedificio.etarg_caldaia" required>															
													</div>
													<div class="col-md-4 column" ng-class="{'has-error': form_epi.etad_caldaia.$invalid}">
														<label for="etad_caldaia">Rendimento distribuzione &eta;<sub>dC</sub></label>											
														<input type="number" min="0" step="any"  class="form-control" ng-pattern="/^\d{0,9}(\.\d{1,9})?$/" name="etad_caldaia" id="etad_caldaia" ng-model="moduloepi.datiedificio.etad_caldaia" required>
													</div>
											</div>
								</div>
								
								
										
								
							</div>
							<div class="row clearfix"></div>	
							<br><br>
							
							<div class="col-md-12">
								<legend class="righter sublegendmenu">Pompe di Calore</legend>
								
								<div class="col-md-12">
									<div class="row clearfix">
										<div class="col-md-4 column" ng-class="{'has-error': form_epi.quotaPdC.$invalid}">															
											<label for="quotaPdC">Quota copertura fabbisogno PdC [%]</label>												
											<input type="number" min="0" step="any" class="form-control" ng-pattern="/^\d{0,9}(\.\d{1,9})?$/" name="quotaPdC" id="quotaPdC" ng-model="moduloepi.datiedificio.quotaPdC" required>
										</div>
										
										<div class="col-md-4 column" ng-class="{'has-error': form_epi.potenza_PdC.$invalid}">															
											<label for="potenza_PdC">Potenza termica utile nominale complessiva [kW]</label>												
											<input type="number" min="0" step="any" class="form-control" ng-pattern="/^\d{0,9}(\.\d{1,9})?$/" name="potenza_PdC" id="potenza_PdC" ng-model="moduloepi.datiedificio.potenza_PdC" required>
										</div>
										
										<div class="col-md-4 column" ng-class="{'has-error': form_epi.potenza_media_PdC.$invalid}">															
											<label for="potenza_media_PdC">Potenza termica utile nominale media [kW]</label>												
											<input type="number" min="0" step="any" class="form-control" ng-pattern="/^\d{0,9}(\.\d{1,9})?$/" name="potenza_media_PdC" id="potenza_media_PdC" ng-model="moduloepi.datiedificio.potenza_media_PdC" required>
										</div>
										
									</div>
								</div>
								
								
								<div class="col-md-12">
									<div class="row clearfix">
									
										<div class="col-md-4 column">															
											<label for="tipodistribuzione_PdC" >Tipologia di distribuzione</label>
											<select name="tipodistribuzione_PdC" ng-model="tipodistribuzione_PdC.selectedOption" class="form-control" ng-options="option.name for option in tipodistribuzione_PdC.availableOptions track by option.id"></select>											
										</div>
										
										<div class="col-md-4 column">															
											<label for="tiposcambio_PdC" >Tipologia di scambio</label>
											<select name="tiposcambio_PdC" ng-model="tiposcambio_PdC.selectedOption" class="form-control" ng-options="option.name for option in tiposcambio_PdC.availableOptions track by option.id"></select>											
										</div>
										
										<div class="col-md-4 column">
											<label for="eta_PdC">Performance globale &eta;<sub>gPdC</sub></label>												
											<input type="number" min="0" step="any"  class="form-control" id="eta_PdC" placeholder="{{ moduloepi.datiedificio.etae_PdC*moduloepi.datiedificio.etarg_PdC*moduloepi.datiedificio.etad_PdC*moduloepi.datiedificio.etagn_PdC}}" readonly>
										 </div>	
										
									</div>
								</div>
								
								<div class="col-md-12">
										<div class="row clearfix">
											 <div class="col-md-4 column" ng-class="{'has-error': form_epi.etae_PdC.$invalid}">
												<label for="etae_PdC">Rendimento emissione &eta;<sub>ePdC</sub></label>												
												<input type="number" min="0" step="any"  class="form-control" ng-pattern="/^\d{0,9}(\.\d{1,9})?$/" name="etae_PdC" id="etae_PdC" ng-model="moduloepi.datiedificio.etae_PdC" required>
											 </div>
											<div class="col-md-4 column" ng-class="{'has-error': form_epi.etarg_PdC.$invalid}">															
												<label for="etarg_PdC">Rendimento regolazione &eta;<sub>rPdC</sub></label>											
												<input type="number" min="0" step="any"  class="form-control" ng-pattern="/^\d{0,9}(\.\d{1,9})?$/" name="etarg_PdC" id="etarg_PdC" ng-model="moduloepi.datiedificio.etarg_PdC" required>															
											</div>
											<div class="col-md-4 column" ng-class="{'has-error': form_epi.etad_PdC.$invalid}">
												<label for="etad_PdC">Rendimento distribuzione &eta;<sub>dPdC</sub></label>											
												<input type="number" min="0" step="any"  class="form-control" ng-pattern="/^\d{0,9}(\.\d{1,9})?$/" name="etad_PdC" id="etad_PdC" ng-model="moduloepi.datiedificio.etad_PdC" required>
											</div>																																
										</div>
								</div>
								<div class="col-md-12">
										<div class="row clearfix">																
												<div class="col-md-4 column" ng-class="{'has-error': form_epi.etagn_PdC.$invalid}">
													<label for="etagn_PdC">Performance di generazione (COP) &eta;<sub>genPdC</sub></label>											
													<input type="number" min="0" step="any"  class="form-control" ng-pattern="/^\d{0,9}(\.\d{1,9})?$/" name="etagn_PdC" id="etagn_PdC" ng-model="moduloepi.datiedificio.etagn_PdC" required>
												</div>																	
										</div>
								</div>
								
							</div>
							<div class="row clearfix"></div>	
							<br><br>
							
							
							<img src="styles/images/summer.png " style="width: 100px;"><legend class="righter sublegendmenu">IMPIANTI DI RAFFRESCAMENTO</legend>
							<div class="col-md-12">
								<legend class="righter sublegendmenu"> Pompe di Calore/Gruppo Frigo</legend>
								
								<div class="col-md-12">
									<div class="row clearfix">
									
										<div class="col-md-4 column" ng-class="{'has-error': form_epi.potenza_Climatizzazione.$invalid}">															
											<label for="potenza_Climatizzazione">Potenza frigorifera utile nominale complessiva [kW]</label>												
											<input type="number" min="0" step="any" class="form-control" ng-pattern="/^\d{0,9}(\.\d{1,9})?$/" name="potenza_Climatizzazione" id="potenza_Climatizzazione" ng-model="moduloepi.datiedificio.potenza_Climatizzazione" required>
										</div>
										
										<div class="col-md-4 column" ng-class="{'has-error': form_epi.potenza_media_Climatizzazione.$invalid}">															
											<label for="potenza_media_Climatizzazione">Potenza frigorifera utile nominale media [kW]</label>												
											<input type="number" min="0" step="any" class="form-control" ng-pattern="/^\d{0,9}(\.\d{1,9})?$/" name="potenza_media_Climatizzazione" id="potenza_media_Climatizzazione" ng-model="moduloepi.datiedificio.potenza_media_Climatizzazione" required>
										</div>
										
										<div class="col-md-4 column">															
											<label for="tipodistribuzione_estivo" >Tipologia di distribuzione</label>
											<select name="tipodistribuzione_estivo" ng-model="tipodistribuzione_estivo.selectedOption" class="form-control" ng-options="option.name for option in tipodistribuzione_estivo.availableOptions track by option.id"></select>
											
										</div>
										
									</div>
								</div>
								
								<div class="col-md-12">
									<div class="row clearfix">
									
										<div class="col-md-4 column">															
											<label for="tiposcambio_estivo" >Tipologia di scambio</label>
											<select name="tiposcambio_estivo" ng-model="tiposcambio_estivo.selectedOption" class="form-control" ng-options="option.name for option in tiposcambio_estivo.availableOptions track by option.id"></select>
											
										</div>
										
										 <div class="col-md-4 column">
											<label for="eta_estivo">Performance globale &eta;<sub>gPdC</sub></label>												
											<input type="number" min="0" step="any"  class="form-control" id="eta_estivo" placeholder="{{moduloepi.datiedificio.etae_estivo*moduloepi.datiedificio.etarg_estivo*moduloepi.datiedificio.etad_estivo*moduloepi.datiedificio.etagn_estivo}}" readonly>
										 </div>	
										
										<div class="col-md-4 column" ng-class="{'has-error': form_epi.etae_estivo.$invalid}">
												<label for="etae_estivo">Rendimento emissione &eta;<sub>ePdC</sub></label>												
												<input type="number" min="0" step="any"  class="form-control" ng-pattern="/^\d{0,9}(\.\d{1,9})?$/" name="etae_estivo" id="etae_estivo" ng-model="moduloepi.datiedificio.etae_estivo" required>
										</div>
										
									
										
									</div>
								</div>
								
								<div class="col-md-12">
									<div class="row clearfix">
									
										
										<div class="col-md-4 column" ng-class="{'has-error': form_epi.etarg_estivo.$invalid}">															
												<label for="etarg_estivo">Rendimento regolazione &eta;<sub>rPdC</sub></label>											
												<input type="number" min="0" step="any"  class="form-control" ng-pattern="/^\d{0,9}(\.\d{1,9})?$/" name="etarg_estivo" id="etarg_estivo" ng-model="moduloepi.datiedificio.etarg_estivo" required>															
										</div>
										
										<div class="col-md-4 column" ng-class="{'has-error': form_epi.etad_estivo.$invalid}">
												<label for="etad_estivo">Rendimento distribuzione &eta;<sub>dPdC</sub></label>											
												<input type="number" min="0" step="any"  class="form-control" ng-pattern="/^\d{0,9}(\.\d{1,9})?$/" name="etad_estivo" id="etad_estivo" ng-model="moduloepi.datiedificio.etad_estivo" required>
										</div>	
																
										<div class="col-md-4 column" ng-class="{'has-error': form_epi.etagn_estivo.$invalid}">
												<label for="etagn_estivo">Performance di generazione (EER) &eta;<sub>genPdC</sub></label>											
												<input type="number" min="0" step="any"  class="form-control" ng-pattern="/^\d{0,9}(\.\d{1,9})?$/" name="etagn_estivo" id="etagn_estivo" ng-model="moduloepi.datiedificio.etagn_estivo" required>
										</div>
									
										
									</div>
								</div>

								
							</div>
									<div class="row clearfix"></div>	
									<br><br>
									
									<div class="col-md-4 col-md-offset-4 column">
										<center><button type="button" ng-click="calcolaEtag();" class="span5 btn btn-large btn-primary" style="width: 100%;" ng-disabled="form_epi.$invalid">Calcola i Rendimenti di Benchmark</button></center>
									</div>
									
									<div class="row clearfix"></div>	
									<br><br>
																		

									<img src="styles/images/viewing.png " style="width: 100px;"><legend class="righter sublegendmenu">BENCHMARKS</legend>
									
											<div class="col-md-12">
														<div class="row clearfix">																
																
																
																<div class="col-md-3 column" ng-class="{'has-error': form_epi.ricambio_aria_est.$invalid}">
																	<label for="ricambio_aria_est">Ricambi orari aria estivi(n) [V/h]</label>											
																	<input type="number" min="0" step="any"  class="form-control" ng-pattern="/^\d{0,9}(\.\d{1,9})?$/" name="ricambio_aria_est" id="ricambio_aria_est" ng-model="moduloepi.datiedificio.ricambio_aria_est" required>
																</div>
																
																<div class="col-md-3 column">
																	<label for="ricambioariaEstate_bench">Ricambi orari aria estivi (n_bench) [V/h]</label>											
																	<input type="number" min="0" step="any"  class="form-control" id="ricambioariaEstate_bench" ng-model="datigenerali.ricambioariaEstate_bench" readonly>
																</div>	
																 
																<div class="col-md-3 column" ng-class="{'has-error': form_epi.ricambio_aria.$invalid}">
																	<label for="ricambio_aria">Ricambi orari aria invernali (n) [V/h]</label>											
																	<input type="number" min="0" step="any"  class="form-control" ng-pattern="/^\d{0,9}(\.\d{1,9})?$/" name="ricambio_aria" id="ricambio_aria" ng-model="moduloepi.datiedificio.ricambio_aria" required>
																</div>
																 
																<div class="col-md-3 column">															
																	<label for="ricambioariaInverno_bench">Ricambi orari aria inv. (n_bench) [V/h]</label>												
																	<input type="number" min="0" step="any"  class="form-control" id="ricambioariaInverno_bench" ng-model="datigenerali.ricambioariaInverno_bench" readonly>
																</div>

														</div>
														<div class="row clearfix">																
																																
																<div class="col-md-4 column" ng-class="{'has-error': form_epi.apporto_interno_est.$invalid}">
																	<label for="apporto_interno_est">Fattore apporto int gratuito estivo [W/m&sup2;]</label>											
																	<input type="number" min="0" step="any"  class="form-control" ng-pattern="/^\d{0,9}(\.\d{1,9})?$/" name="apporto_interno_est" id="apporto_interno_est" ng-model="moduloepi.datiedificio.apporto_interno_est" required>
																</div>
																																 
																<div class="col-md-4 column" ng-class="{'has-error': form_epi.apporto_interno.$invalid}">
																	<label for="apporto_interno">Fattore apporto int gratuito invernale [W/m&sup2;]</label>											
																	<input type="number" min="0" step="any"  class="form-control" ng-pattern="/^\d{0,9}(\.\d{1,9})?$/" name="apporto_interno" id="apporto_interno" ng-model="moduloepi.datiedificio.apporto_interno" required>
																</div>

														</div>
											</div>
											
											<div class="row clearfix"></div>	
											<br><br>
											
											<div class="col-md-12">
											<legend class="righter sublegendmenu"> Rendimenti Benchmark Caldaie</legend>
											
											<div class="col-md-12">
												<div class="row clearfix">
												
													<div class="col-md-4 column">
														<label for="eta_bench_C">Rendimento globale</label>												
														<input type="number" step="any" class="form-control" id="eta_bench_C" placeholder="{{ moduloepi.datiedificio.eta_bench_C | number: 3 }}" required readonly>
													</div>
													
													
													<div class="col-md-4 column">
														<label for="eta_bench_genC">Rendimento di generazione</label>												
														<input type="number" step="any" class="form-control" id="eta_bench_genC" placeholder="{{ eta_g_caldaia/100 | number: 3 }}" readonly>
													 </div>
													 
													 <div class="col-md-4 column">
														<label for="eta_bench_derC">Rendimento di distribuzione-emissione-regolazione</label>												
														<input type="number" step="any" class="form-control" id="eta_bench_derC" placeholder="{{ eta_deri_caldaia | number: 3 }}" readonly>
													 </div>
													
												</div>
											</div>
											
									<div class="row clearfix"></div>	
									<br><br>
									
									
									
									<legend class="righter sublegendmenu"> Rendimenti/Performance Benchmark PdC</legend>
											
											<div class="col-md-12">
												<div class="row clearfix">
												
													<div class="col-md-4 column">
														<label for="eta_bench_PdC">Performance globale al contatore</sub></label>												
														<input type="number" min="0" step="any"  class="form-control" id="eta_bench_PdC" placeholder="{{ moduloepi.datiedificio.eta_bench_PdC | number: 3 }}" required readonly>
													</div>
													
													
													<div class="col-md-4 column">
														<label for="eta_bench_genPdC">Performance di generazione</label>												
														<input type="number" step="any" class="form-control" id="eta_bench_genPdC" placeholder="{{ eta_g_pdc | number: 3 }}" readonly>
													 </div>
													 
													 <div class="col-md-4 column">
														<label for="eta_bench_derPdC">Rendimento di distribuzione-emissione-regolazione</label>												
														<input type="number" step="any" class="form-control" id="eta_bench_derPdC" placeholder="{{ eta_deri_pdc | number: 3 }}" readonly>
													 </div>
													 
													 <div class="col-md-4 column">
														<label for="eta_bench_PdC_energia_primaria">Performance globale energia primaria</sub></label>												
														<input type="number" min="0" step="any"  class="form-control" id="eta_bench_PdC" placeholder="{{ moduloepi.datiedificio.eta_bench_PdC_energia_primaria | number: 3 }}" required readonly>
													</div>
													
												</div>
											</div>
											
									<div class="row clearfix"></div>	
									<br><br>
									
									<legend class="righter sublegendmenu"> Rendimenti/Performance Benchmark PdC/Gruppo Frigo</legend>
											
											<div class="col-md-12">
												<div class="row clearfix">
												
													<div class="col-md-4 column">
														<label for="eta_bench_estivo">Performance globale al contatore</sub></label>												
														<input type="number" min="0" step="any"  class="form-control" id="eta_bench_estivo" placeholder="{{ moduloepi.datiedificio.eta_bench_estivo | number: 3 }}"  required readonly>
													</div>
													
													
													<div class="col-md-4 column">
														<label for="eta_bench_genEstivo">Performance di generazione</label>												
														<input type="number" step="any" class="form-control" placeholder="{{ eta_bench_genEstivo | number: 3 }}" readonly>
													 </div>
													 
													 <div class="col-md-4 column">
														<label for="eta_bench_derEstivo">Rendimento di distribuzione-emissione-regolazione</label>												
														<input type="number" step="any" class="form-control" placeholder="{{ eta_bench_derEstivo | number: 3 }}" readonly>
													 </div>
													 
													 <div class="col-md-4 column">
														<label for="eta_bench_estivo_energia_primaria">Performance globale energia primaria</sub></label>												
														<input type="number" min="0" step="any"  class="form-control" id="eta_bench_estivo" placeholder="{{ moduloepi.datiedificio.eta_bench_estivo_energia_primaria | number: 3 }}"  required readonly>
													</div>
													
												</div>
											</div>
											
									<div class="row clearfix"></div>	
									<br><br>
									
									
									
									<div class="col-md-12 column">
											<center><button type="submit" class="span5 btn btn-md btn-success" ng-disabled="form_epi.$invalid">Salva modifiche</button></center>																		
									</div>
												
					</form>	
            </div>			
</div>