﻿<div class="modal-dialog">
    <div class="modal-header">
        <h3>{{modalOptions.headerText}}</h3>
    </div>
    <div class="modal-body">
        <p>{{modalOptions.bodyText}}</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn" data-ng-click="cancel()">{{modalOptions.closeButtonText}}</button>
        <button class="btn btn-primary" data-ng-click="ok();">{{modalOptions.actionButtonText}}</button>
    </div>
</div>