<div class="panel panel-default bg-auto">

    <br>
    <div class="panel-body">
        <form class="form-horizontal" role="form" id="form-epi" name="form_epi" ng-submit="superficiOpacheAdd()" >
		
			<img src="styles/images/bricks11.png " style="width: 100px;"><legend class="righter sublegendmenu">SUPERFICI OPACHE</legend>
            <div class="col-md-12">
                <div class="row clearfix">
                    <div class="col-md-4 column">
                        <label for="descrizione">Descrizione</label>
                        <input type="text"
                               class="form-control"
                               ng-model="superficiOpacheModel.descrizione"
                               id="descrizione"
                               placeholder="Inserisci la descrizione ..." required>
                    </div>
                    <div class="col-md-4 column">
                        <label>Tipo Superficie</label>
                        <select ng-model="superficiOpacheModel.tiposuperficie"
                                class="form-control"
                                ng-options="option for option in superficiOpacheOptions.tiposuperficie"
								required>
                        </select>
                    </div>
                    <div class="col-md-4 column">
                        <label for="materiale">Tipo Materiale</label>
                        <input type="text"
                               ng-model="superficiOpacheModel.materiale"
                               class="form-control"
                               id="materiale"
                               placeholder="Inserisci il materiale (norma UNI)..." required>
                    </div>


                </div>
            </div>


            <div class="col-md-12">
                <div class="row clearfix">
                    <div class="col-md-4 column">
                        <label>Esposizione</label>
                        <select ng-model="superficiOpacheModel.esposizione"
                                class="form-control"
                                ng-options="option for option in superficiOpacheOptions.esposizione" required>
                        </select>
                    </div>
                    <div class="col-md-4 column" ng-class="{'has-error': form_epi.superficieseo.$invalid}">
                        <label for="superficieSeo">Superficie S [m&sup2;]</label>
                        <input type="number"
                               min="0"
                               step="any"
                               ng-model="superficiOpacheModel.superficieseo"
                               value="0"
                               class="form-control"
                               id="superficieseo"
							   ng-pattern="/^\d{0,9}(\.\d{1,9})?$/" name="superficieseo"
                               placeholder="Superficie..." required>
                    </div>
                    <div class="col-md-4 column" ng-class="{'has-error': form_epi.spessore.$invalid}">
                        <label for="spessore">Spessore d [m]</label>
                        <input type="number"
                               min="0"
                               step="any"
                               value="0"
                               ng-model="superficiOpacheModel.spessore"
                               class="form-control"
                               id="spessore"
							   ng-pattern="/^\d{0,9}(\.\d{1,9})?$/" name="spessore"
                               placeholder="Spessore..." required>
                    </div>
                </div>
            </div>


            <div class="col-md-12">
                <div class="row clearfix">
                    <div class="col-md-4 column" ng-class="{'has-error': form_epi.trasmittanzaeop.$invalid}">
                        <label for="trasmittanzaeop" >Trasmittanza U<span class='font-thin'>eop</span> [W/m&sup2;K]</label>
                        <input type="number"
                               min="0"
                               ng-model="superficiOpacheModel.trasmittanzaeop"
                               step="any"
                               value="0"
                               class="form-control"
                               id="trasmittanzaeop"
							   ng-pattern="/^\d{0,9}(\.\d{1,9})?$/" name="trasmittanzaeop"
                               placeholder="U propria elemento..." required>
                    </div>
                    <div class="col-md-4 column">
                        <label>Ambiente Confinante</label>
                        <select ng-model="superficiOpacheModel.ambienteconfinante"
                                class="form-control"
                                ng-options="option for option in superficiOpacheOptions.ambienteconfinante" required>
                        </select>
                    </div>
                    <div class="col-md-4 column" ng-class="{'has-error': form_epi.fattorecorrezione.$invalid}">
                        <label for="fattorecorrezione">Fattore Correzione btr</label>
                        <input type="number"
                               min="0"
                               ng-model="superficiOpacheModel.fattorecorrezione"
                               step="any"
                               value="0"
                               class="form-control"
							   ng-pattern="/^\d{0,9}(\.\d{1,9})?$/" name="fattorecorrezione"
                               id="fattorecorrezione" required>
                    </div>
                </div>
            </div>



            <div class="col-md-12">
                <div class="row clearfix">
                    <div class="col-md-4 column" ng-class="{'has-error': form_epi.massa.$invalid}">
                        <label for="massa" >Massa Superficiale M<span class='font-thin'>s</span> [Kg/m&sup2;]</label>
                        <input type="number"
                               min="0"
                               ng-model="superficiOpacheModel.massa"
                               step="any"
                               value="0"
                               class="form-control"
							   ng-pattern="/^\d{0,9}(\.\d{1,9})?$/" name="massa"
                               id="massa" required/>
                    </div>

                    <div class="col-md-4 column" ng-class="{'has-error': form_epi.calorespecifico.$invalid}">
                        <label for="calorespecifico">Calore Specifico C<span class='font-thin'>p</span>[J/(KgK)]</label>
                        <input type="number"
                               min="0"
                               ng-model="superficiOpacheModel.calorespecifico"
                               step="any"
                               value="0"
                               class="form-control"
							   ng-pattern="/^\d{0,9}(\.\d{1,9})?$/" name="calorespecifico"
                               id="calorespecifico" required/>
                    </div>
                </div>
            </div>

            <div class="row clearfix"></div>
            <br><br>

            <div class="col-md-4 col-md-offset-4 column">
                <center><button type="submit" class="span5 btn btn-large btn-primary" style="width: 100%;" ng-disabled="form_epi.$invalid">Aggiungi Elemento</button></center>
            </div>

        
    </div>
    <hr/>
    <div class="panel-body">
        <table class="table">
            <thead>
            <tr>
                <th>Descrizione</th>
                <th>Materiale</th>
                <th>S [m&sup2;]</th>
                <th>d [m]</th>
                <th>U<span class='font-thin'>eop</span> [W/m&sup2;K]</th>
                <th>b<span class='font-thin'>tr</span></th>
                <th>M<span class='font-thin'>s</span> [Kg/m&sup2;]</th>
                <th>C<span class='font-thin'>p</span> [J/(KgK)]</th>
                <th>Elimina</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="component in moduloepi.supesterneopache">
				<th>{{component.descrizione}}</th>
				<th>{{component.materiale}}</th>
				<th>{{component.superficieseo}}</th>
				<th>{{component.spessore}}</th>
                <th>{{component.trasmittanzaeop}}</th> 
                <th>{{component.fattorecorrezione}}</th>
                <th>{{component.massa}}</th>
                <th>{{component.calorespecifico}}</th>
                <th><button ng-click="moduloepi.supesterneopache.splice($index, 1)">Elimina</button></th>
            </tr>
            </tbody>
        </table>
        <div class="col-md-12 column">
            <center><button ng-click="onSubmit()" type="submit" class="span5 btn btn-md btn-success">Salva modifiche</button></center>
        </div>
		</form>
    </div>
</div>