<div class="panel panel-default">     
            <div class="panel-body">                       
						<div id="histconsumptions" style="width:100%; height:400px;"></div>					
            </div>			
          
</div>

