<div class="panel panel-default">     
            <div class="panel-body"> 
			
				<div class="row clearfix">
																														
						<div class="col-md-3 col-md-offset-2 column">															
									<label class="control-label"><i class="glyphicon glyphicon-calendar fa fa-calendar"></i> Intervallo di osservazione</label><br>     
									<input id="date_range" type="daterange" class="form-control" ranges="ranges" ng-model="selected_dates" >
						</div>
														
						<div class="col-md-2 column">	
							<br>
							<button type="submit" ng-click="onClickUpdate()" class="btn btn-md btn-primary" style="margin-top: 3px;" >Aggiorna</button>
						</div>
																																											
				</div>
			
				<br>
				<div class="row clearfix">
							
							<div id="kpichart" style="width:100%; height:800px;"></div>					
				</div>
            </div>         
</div>