<div class="panel panel-default">    
			<div class="panel-heading">
			  <h4 class="font-thin m-t-none m-b-none text-primary-lt">KPI Mese corrente</h4>              
            </div>
            <div class="panel-body"> 
			
			<div class="row" align="left">	
				<div class="col-sm-4 col-xs-12 col-md-4">
					<div id="gauge_potenzapicco" style="height: 250px; margin: 0 auto"></div>
					
					<div class="row" align="center">	
						<div class="col-sm-4 col-xs-4 col-md-4">
							<span class="text-black text-xs">Riferimento </span>
						</div>			
						<div class="col-sm-4 col-xs-4 col-md-4">				
							<span class="text-black text-xs">Tolleranza</span>
						</div>
						<div class="col-sm-4 col-xs-4 col-md-4">
							<span class="text-black text-xs">Confronto</span>
						</div>						
					</div>
					<div class="row" align="center">	
						<div class="col-sm-4 col-xs-4 col-md-4">
							<span class="text-info">{{bench_potenza_picco}}</span>
						</div>			
						<div class="col-sm-4 col-xs-4 col-md-4">				
							<span class="text-info">{{tollerance_potenza_picco}} %</span>
						</div>
						<div class="col-sm-4 col-xs-4 col-md-4">
							<span class="text-info"> {{diff_potenza_picco}} %</span>
						</div>						
					</div>
					
				</div>			
				<div class="col-sm-4 col-xs-12 col-md-4">				
					<div id="gauge_consumomedio" style="height: 250px; margin: 0 auto;"></div>
					
					<div class="row" align="center">	
						<div class="col-sm-4 col-xs-4 col-md-4">
							<span class="text-black text-xs">Riferimento </span>
						</div>			
						<div class="col-sm-4 col-xs-4 col-md-4">				
							<span class="text-black text-xs">Tolleranza</span>
						</div>
						<div class="col-sm-4 col-xs-4 col-md-4">
							<span class="text-black text-xs">Confronto</span>
						</div>						
					</div>
					<div class="row" align="center">	
						<div class="col-sm-4 col-xs-4 col-md-4">
							<span class="text-info">{{bench_consumo_medio}}</span>
						</div>			
						<div class="col-sm-4 col-xs-4 col-md-4">				
							<span class="text-info">{{tollerance_consumo_medio}} %</span>
						</div>
						<div class="col-sm-4 col-xs-4 col-md-4">
							<span class="text-info"> {{diff_consumo_medio}} %</span>
						</div>						
					</div>
				</div>
				<div class="col-sm-4 col-xs-12 col-md-4">				
					<div id="gauge_epi" style="height: 250px; margin: 0 auto;"></div>
					<div class="row" align="center">	
						<div class="col-sm-4 col-xs-4 col-md-4">
							<span class="text-black text-xs">Riferimento </span>
						</div>			
						<div class="col-sm-4 col-xs-4 col-md-4">				
							<span class="text-black text-xs">Tolleranza</span>
						</div>
						<div class="col-sm-4 col-xs-4 col-md-4">
							<span class="text-black text-xs">Confronto</span>
						</div>						
					</div>
					<div class="row" align="center">	
						<div class="col-sm-4 col-xs-4 col-md-4">
							<span class="text-info">{{bench_episn}}</span>
						</div>			
						<div class="col-sm-4 col-xs-4 col-md-4">				
							<span class="text-info">{{tollerance_episn}} %</span>
						</div>
						<div class="col-sm-4 col-xs-4 col-md-4">
							<span class="text-info"> {{diff_episn}} %</span>
						</div>						
					</div>

				</div>						
			</div>
			
			
			
											
						
						
            </div>
</div>

