<table ng-table-dynamic="tableManutenzione with cols" show-filter="true" class="table table-condensed table-bordered">
		  <tr ng-repeat="row in $data track by row.idData ">

			<td ng-repeat="col in $columns" ng-switch="col.field">
				<input ng-switch-when="checkBox" type="checkbox" ng-model="row.isChecked"/>
				<a ng-switch-default data-toggle="tooltip"  title="{{row[col.tooltip]}}">{{row[col.field]}}</a></td> 
		  </tr>
</table>
<div class="panel-body">
	<center><button class="btn btn-primary" data-ng-click="generaTicket()">Genera Tickets</button></center>																		
</div>
