<div class="col-xs-6" ng-repeat="div in scenari | limitTo:cols" >
 <div class="row"> 
	  <div class="col-md-12"> 
			<div class="panel panel-default">    

				<div class="panel-heading">
					<h4 class="font-thin m-t-none m-b-none text-primary-lt">{{div.nomeScenario}}</h4>              
				</div>
				
				<div class="panel-body">  
					<h4 class="font-thin m-t-none m-b-none text-primary-lt">Costo Interventi:<b>{{div.costo}} €</b> </h4>

					<ol>
					  <li>{{div.intervento1}}</li>
					  <li>{{div.intervento2}}</li>
					  <li>{{div.intervento3}}</li>
					  <li>{{div.intervento4}}</li>
					  <li>{{div.intervento5}}</li>
					</ol> 					
				</div>
				
			</div> 
	  </div>
	   </div>
 </div>


