<div class="panel panel-default">

            <div class="panel-heading">
              <h4 class="font-thin m-t-none m-b-none text-primary-lt">Seleziona Immobile/i</h4>              
            </div>
			
            <div class="panel-body">  
				<div class="form-group">

				    <label class="control-label"><i class="glyphicon glyphicon-calendar fa fa-calendar"></i> Intervallo Date</label><br>     
					<input id="date_range" type="daterange" class="form-control" ranges="ranges" ng-model="selected_dates" >

                </div>			
                
                <div class="form-group">
					<label class="control-label"><i class="glyphicon glyphicon-home"> </i>  Immobili</label><br> 	
					
					<select id="buildings_list" multiple class="chosen-select" no-results-text="'Nessun immobile trovato'" data-placeholder="Seleziona immobili" ng-model="selectedBuildings" ng-options="c.codice + ' ' + c.clusterEnergy + ', ' + c.nome + ' (' + c.siglaprov + ') ' for c in immobili track by c.codice" style="height: 34px; width:100%;">
					</select>
                  
                </div>				
				
				
            </div>
            <footer class="panel-footer text-center bg-light lter">
              <button type="submit" ng-click="setFilters()" class="btn btn-md btn-primary">Aggiorna selezione</button>
            </footer>
</div>