 
<div class="panel panel-default">    

			<div class="panel-heading">
			  <h4 class="font-thin m-t-none m-b-none text-primary-lt">Settaggi</h4>              
            </div>
			
            <div class="panel-body">
			
			<div id="tabs">
				
				<ul class="nav nav-tabs">
					<li ng-model="building_tab" ng-class="{active:isActiveTab(building_tab.name)}" ng-click="onClickTab(building_tab)"><a href=""><i class="glyphicon glyphicon-home"></i></a></li>
					<li ng-model="kpi_tab" ng-class="{active:isActiveTab(kpi_tab.name)}" ng-click="onClickTab(kpi_tab)"><a href=""><i class="glyphicon glyphicon-th"></i></a></li>
					<li ng-model="periodo_tab" ng-class="{active:isActiveTab(periodo_tab.name)}" ng-click="onClickTab(periodo_tab)"><a href=""><i class="glyphicon glyphicon-globe"></i></a></li>
					<li ng-model="date_tab"  ng-class="{active:isActiveTab(date_tab.name)}"ng-click="onClickTab(date_tab)"><a href=""><i class="glyphicon glyphicon-th"></i></a></li>
					
				  </ul>
				  
				<div id="mainView">
					<div ng-show="isActiveTab(building_tab.name)" id="viewOne">
						  <h4>  Immobile </h4>
						  <div building-selection></div>
						  <br>					  
					</div>
					
					<div ng-show="isActiveTab(date_tab.name)" id="viewTwo">
						<h4>  Data Generazione Allarme </h4>
						<input type="text" datepicker="" ng-model="selected_date" show-weeks="false"/>
					</div>
					
					<div ng-show="isActiveTab(kpi_tab.name)" id="viewFour">
						 <h4>  Tipo KPI </h4>
						 <div kpi-selection></div>
						 <br>	
					</div>
					
					<div ng-show="isActiveTab(periodo_tab.name)" id="viewThree">
						<h4>Periodo di Riferimento</h4>
						  <input type="text" datepicker="" ng-model="selected_periodo" show-weeks="false"  min-mode="month" datepicker-mode="'month'" />
					</div>
					
				</div>
			</div>

										 
			</div>
			<footer class="panel-footer text-center bg-light lter">
				<button type="submit" ng-click="onClickUpdate()" class="btn btn-md btn-primary">Aggiorna dati</button>
            </footer>

</div>