<div class="panel panel-default">    
	<div class="panel-heading">
	  <h4 class="font-thin m-t-none m-b-none text-primary-lt">Seleziona Immobile/i</h4>              
	</div>
	
	<div class="panel-body">  
		<div class="form-group">

			<label class="control-label"><i class="glyphicon glyphicon-calendar fa fa-calendar"></i> Intervallo Date</label><br>     
			<input id="date_range" type="daterange" class="form-control" ranges="ranges" ng-model="selected_dates" >

		</div>			
		
		<div class="form-group">
			<label class="control-label"><i class="glyphicon glyphicon-home"> </i>  Immobili</label><br> 	
			<select id="buildings_list" multiple class="chosen-select" no-results-text="'Nessun immobile trovato'" data-placeholder="Seleziona immobili" ng-model="selectedBuildings" ng-options="c.codice + ' ' + c.clusterEnergy + ', ' + c.nome + ' (' + c.siglaprov + ') ' for c in immobili track by c.codice" style="height: 34px; width:100%;">
			</select>
		  
		</div>				

		<div class="form-group">

			<label class="control-label"><i class="glyphicon glyphicon-cloud"> </i>  Tipologia Misura</label><br>

			<select id="measure_list" data-placeholder="Seleziona cluster" ng-model="selected_measure" style="height: 34px; width:100%;">
				<option value=" " selected>Nessuna</option>
				<option value="Temperature">Temperatura</option>
				<option value="Presenza">Presenza</option>
				<option value="Umidita">Umidità</option>
				<option value="Luminosita">Luminosità</option>
				<option value="EnergyMeter">Energy Meter</option>
				<option value="ThermalMeter">Thermal Meter</option>
				<option value="WeatherStation">Weather Station</option>
			</select>

		</div>
		
		
	</div>
	<footer class="panel-footer text-center bg-light lter">
	  <button type="submit" ng-click="setFilters()" class="btn btn-md btn-primary">Aggiorna selezione</button>
	</footer>

</div>