<div class="panel panel-default">     
            <div class="panel-body">
						<div id="todayconsumptions_chart" style="width:100%; height:290px;"></div>					
            </div>			          
</div>

