<div class="modal-content">	
		<div class="modal-header">
			<h4><span class="glyphicon glyphicon-wrench"></span>  {{modalOptions.headerText}}</h4>
		</div>
		<div class="modal-body">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h5 class="font-thin m-t-none m-b-none text-primary-lt"><span class="glyphicon glyphicon-dashboard"> </span> Prestazioni Energetiche</h5>
				</div>
				<div class="panel-body">
					<div class="col-md-12">
						 <div class="row clearfix">
						 
						 <div class="row row-centered" align="center">
							<div class="col-sm-2 col-xs-2 col-md-2">
								<span class="text-black h4"></span>
							</div>
							<div class="col-sm-5 col-xs-5 col-md-5">
								<span class="text-black h5">Attuale</span>
							</div>
							<div class="col-sm-5 col-xs-5 col-md-5">
								<span class="text-black h5">Risparmio Simulato</span>
							</div>
						</div>
						<br>
							<div class="row" align="center">
								<div class="col-sm-2 col-xs-2 col-md-2">
									<span class="text-black h5">EPI</span>
								</div>
								<div class="col-sm-5 col-xs-5 col-md-5">
									<span class="text-info h4"> {{modalOptions.epiAttuale | number:0}} kWh*mq/anno</span>
								</div>
								<div class="col-sm-5 col-xs-5 col-md-5">
									<span class="text-info h4">{{ modalOptions.epiRisparmio | number:0 }} kWh*mq/anno</span>
								</div>
							</div><br>
							
							<div class="row" align="center">
								<div class="col-sm-2 col-xs-2 col-md-2">
									<span class="text-black h5">CO<sub>2</sub></span>
								</div>
								<div class="col-sm-5 col-xs-5 col-md-5">
									<span class="text-info h4">{{ modalOptions.co2Attuale | number:0 }} tonn/anno</span>
								</div>
								<div class="col-sm-5 col-xs-5 col-md-5">
									<span class="text-info h4"> {{ modalOptions.co2Simulato | number:0 }} tonn/anno</span>
								</div>
							</div><br>
						 </div>
					</div>
					
					</div>
			</div>
			
			<div class="panel panel-default">
				<div class="panel-heading">
					<h5 class="font-thin m-t-none m-b-none text-primary-lt"><span class="glyphicon glyphicon-euro"> </span>  Valutazioni Economiche</h4>
				</div>
				<div class="panel-body">
					<div class="col-md-12">
						 <div class="row clearfix">
						 
						 <div class="row row-centered" align="center">
							<div class="col-sm-6 col-xs-6 col-md-6">
								<span class="text-black h5">Costo Totale</span>
							</div>
							<div class="col-sm-5 col-xs-5 col-md-5">
								<span class="text-black h5">Ritorno di Investimento</span>
							</div>
						</div>
						<br>
							<div class="row" align="center">								
								<div class="col-sm-6 col-xs-6 col-md-6">
									<span class="text-info h4"> {{modalOptions.costoTotale | number:0}} €</span>
								</div>
								<div class="col-sm-6 col-xs-6 col-md-6">
									<span class="text-info h4">{{modalOptions.ritornoInvestimento}} mesi</span>
								</div>
							</div><br>
						 </div>
					</div>
					
					</div>
			</div>
			
			
			<div class="panel panel-default">
				<div class="panel-heading">
					<h5 class="font-thin m-t-none m-b-none text-primary-lt">Interventi Involucro Opaco</h4>
				</div>
				<div class="panel-body">
					<div class="col-md-12">
						 <div class="row row-centered" align="left">
							<div class="col-sm-6 col-xs-6 col-md-6">
								<span class="text-black h5"><b>Descrizione Intervento</b></span>
							</div>
							
							<div class="col-sm-2 col-xs-2 col-md-2">
								<span class="text-black h5"><b>N° Interventi</b></span>
							</div>
							
							<div class="col-sm-2 col-xs-2 col-md-2">
								<span class="text-black h5"><b>EPI Risparmiato</b></span>
							</div>
							
							<div class="col-sm-2 col-xs-2 col-md-2">
								<span class="text-black h5"><b>Costo Totale</b></span>
							</div>
						</div>
					</div>

					<div class="col-md-12" ng-repeat="item in modalOptions.interventiOpaco">
						 <br>
						 <div class="row row-centered" align="left">
							<div class="col-sm-6 col-xs-6 col-md-6">
								<span class="text-black h5">{{ item.descrizioneIntervento }}</span>
							</div>
							
							<div class="col-sm-2 col-xs-2 col-md-2">
								<span class="text-black h5">{{ item.numeroInterventi }}</span>
							</div>
							
							<div class="col-sm-2 col-xs-2 col-md-2">
								<span class="text-black h5">{{ (item.epiAttuale - item.epiSimulato) | number : 2}}</span>
							</div>
							
							<div class="col-sm-2 col-xs-2 col-md-2">
								<span class="text-black h5">{{ item.costoTotale }}</span>
							</div>
						</div>
						
					</div>
					
					</div>
			</div>
			
			<div class="panel panel-default">
				<div class="panel-heading">
					<h5 class="font-thin m-t-none m-b-none text-primary-lt">Interventi Componenti Trasparenti</h4>
				</div>
				<div class="panel-body">
					<div class="col-md-12">
						 <div class="row row-centered" align="left">
							<div class="col-sm-6 col-xs-6 col-md-6">
								<span class="text-black h5"><b>Descrizione Intervento</b></span>
							</div>
							
							<div class="col-sm-2 col-xs-2 col-md-2">
								<span class="text-black h5"><b>N° Interventi</b></span>
							</div>
							
							<div class="col-sm-2 col-xs-2 col-md-2">
								<span class="text-black h5"><b>EPI Risparmiato</b></span>
							</div>
							
							<div class="col-sm-2 col-xs-2 col-md-2">
								<span class="text-black h5"><b>Costo Totale</b></span>
							</div>
						</div>
					</div>
					
					<div class="col-md-12" ng-repeat="item in modalOptions.interventiTrasp">
						 <br>
						 <div class="row row-centered" align="left">
							<div class="col-sm-6 col-xs-6 col-md-6">
								<span class="text-black h5">{{ item.descrizioneIntervento }}</span>
							</div>
							
							<div class="col-sm-2 col-xs-2 col-md-2">
								<span class="text-black h5">{{ item.numeroInterventi }}</span>
							</div>
							
							<div class="col-sm-2 col-xs-2 col-md-2">
								<span class="text-black h5">{{ (item.epiAttuale - item.epiSimulato) | number : 2}}</span>
							</div>
							
							<div class="col-sm-2 col-xs-2 col-md-2">
								<span class="text-black h5">{{ item.costoTotale }}</span>
							</div>
						</div>
						
					</div>
					
					</div>
			</div>
			
			<div class="panel panel-default">
				<div class="panel-heading">
					<h5 class="font-thin m-t-none m-b-none text-primary-lt">Interventi Impianti Climatizzazione</h4>
				</div>
				<div class="panel-body">
					<div class="col-md-12">
						 <div class="row row-centered" align="left">
							<div class="col-sm-6 col-xs-6 col-md-6">
								<span class="text-black h5"><b>Descrizione Intervento</b></span>
							</div>
							
							<div class="col-sm-2 col-xs-2 col-md-2">
								<span class="text-black h5"><b>N° Interventi</b></span>
							</div>
							
							<div class="col-sm-2 col-xs-2 col-md-2">
								<span class="text-black h5"><b>EPI Risparmiato</b></span>
							</div>
							
							<div class="col-sm-2 col-xs-2 col-md-2">
								<span class="text-black h5"><b>Costo Totale</b></span>
							</div>
						</div>
					</div>
					
					<div class="col-md-12" ng-repeat="item in modalOptions.interventiClima">
						 <br>
						 <div class="row row-centered" align="left">
							<div class="col-sm-6 col-xs-6 col-md-6">
								<span class="text-black h5">{{ item.descrizioneIntervento }}</span>
							</div>
							
							<div class="col-sm-2 col-xs-2 col-md-2">
								<span class="text-black h5">{{ item.numeroInterventi }}</span>
							</div>
							
							<div class="col-sm-2 col-xs-2 col-md-2">
								<span class="text-black h5">{{ (item.epiAttuale - item.epiSimulato) | number : 2}}</span>
							</div>
							
							<div class="col-sm-2 col-xs-2 col-md-2">
								<span class="text-black h5">{{ item.costoTotale }}</span>
							</div>
						</div>
						
					</div>
					
					</div>
			</div>
			
			<div class="panel panel-default">
				<div class="panel-heading">
					<h5 class="font-thin m-t-none m-b-none text-primary-lt">Interventi Impianti Illuminazione</h4>
				</div>
				<div class="panel-body">
					<div class="col-md-12">
						 <div class="row row-centered" align="left">
							<div class="col-sm-6 col-xs-6 col-md-6">
								<span class="text-black h5"><b>Descrizione Intervento</b></span>
							</div>
							
							<div class="col-sm-2 col-xs-2 col-md-2">
								<span class="text-black h5"><b>N° Interventi</b></span>
							</div>
							
							<div class="col-sm-2 col-xs-2 col-md-2">
								<span class="text-black h5"><b>EPI Risparmiato</b></span>
							</div>
							
							<div class="col-sm-2 col-xs-2 col-md-2">
								<span class="text-black h5"><b>Costo Totale</b></span>
							</div>
						</div>
					</div>
					
					<div class="col-md-12" ng-repeat="item in modalOptions.interfventiIll">
						 <br>
						 <div class="row row-centered" align="left">
							<div class="col-sm-6 col-xs-6 col-md-6">
								<span class="text-black h5">{{ item.descrizioneIntervento }}</span>
							</div>
							
							<div class="col-sm-2 col-xs-2 col-md-2">
								<span class="text-black h5">{{ item.numeroInterventi }}</span>
							</div>
							
							<div class="col-sm-2 col-xs-2 col-md-2">
								<span class="text-black h5">{{ (item.epiAttuale - item.epiSimulato) | number : 2}}</span>
							</div>
							
							<div class="col-sm-2 col-xs-2 col-md-2">
								<span class="text-black h5">{{ item.costoTotale }}</span>
							</div>
						</div>
						
					</div>
					
					</div>
			</div>
			
		</div>	
    <div class="modal-footer">
	
	    <button type="button" class="btn" data-ng-click="cancel()">{{modalOptions.closeButtonText}}</button>
        <button class="btn btn-primary" data-ng-click="generaTicket()">{{modalOptions.actionButtonText}}</button>		
	</div>
    
</div>
