<div class="modal-content">	
		<div class="modal-header">
			<h4> {{modalOptions.headerText}}</h4>
		</div>
		<div class="modal-body">
		
		<div class="panel panel-default">
				<div class="panel-heading">
					<h5 class="font-thin m-t-none m-b-none text-primary-lt"><span class="glyphicon glyphicon-search"> </span> Diagnostica (Checking UNI CEI EN ISO 50001:2011)</h5>
				</div>
				<div class="panel-body">
					<div class="col-md-12">
						 <div class="row clearfix">
						 
						 <div class="row row-centered" align="center">
							<div class="col-sm-12 col-xs-12 col-md-12">
								<a href="#/diagnosis" target="_blank" data-ng-click="modalOptions.setBuilding()" class="btn btn-danger btn-lg" style="width: 100%;" ><i style="font-size:1.0em;" class="glyphicon glyphicon-warning-sign"></i><br> <span style="font-size:0.75em;">Alert Rilevati</span></a><!--data-ng-click="modalOptions.ok()"-->											
							</div>
							
							
								
						 </div>

						</div>
					
					</div>
				</div>

			</div>
			
			<div class="panel panel-default">
				<div class="panel-heading">
					<h5 class="font-thin m-t-none m-b-none text-primary-lt"><span class="glyphicon glyphicon-search"> </span> Analisi Prestazioni (Monitoring and Analysis UNI CEI EN ISO 50001:2011)</h5>
				</div>
				<div class="panel-body">
					<div class="col-md-12">
						 <div class="row clearfix">
						 
						 <div class="row row-centered" align="center">
							<div class="col-sm-4 col-xs-4 col-md-4">
								<a href="#/performance" target="_blank" data-ng-click="modalOptions.setBuilding()" class="btn btn-success btn-lg" style="width: 100%;" ><i style="font-size:1.0em;" class="glyphicon glyphicon-dashboard" ></i><br> <span style="font-size:0.75em;">Indicatori Performance</span></a>											
							</div>
							
							<div class="col-sm-4 col-xs-4 col-md-4">
								<a href="#/consumptions/profiles" target="_blank" data-ng-click="modalOptions.setBuilding()" class="btn btn-success btn-lg" style="width: 100%;" ><i style="font-size:1.0em;" class="glyphicon glyphicon-stats"></i><br> <span style="font-size:0.75em;">Profili Energetici</span></a>											
							</div>
							
							<div class="col-sm-4 col-xs-4 col-md-4">
								<a href="#/budget" target="_blank" data-ng-click="modalOptions.setBuilding()" class="btn btn-success btn-lg" style="width: 100%;" ><i style="font-size:1.0em;" class="glyphicon glyphicon-eur"></i><br> <span style="font-size:0.75em;">Budget Energetici</span></a>											
							</div>
								
						 </div>

						</div>
					
					</div>
				</div>

			</div>	
		
		
		<div class="panel panel-default">
				<div class="panel-heading">
					<h5 class="font-thin m-t-none m-b-none text-primary-lt"><span class="glyphicon glyphicon-wrench"> </span> Interventi Manutentivi (Implementation and Planning UNI CEI EN ISO 50001:2011)</h5>
				</div>
				<div class="panel-body">
					<div class="col-md-12">
						 <div class="row clearfix">
						 
						 <div class="row row-centered" align="center">
							<div class="col-sm-6 col-xs-6 col-md-6">
								<a href="#/dss/manutenzione" target="_blank" data-ng-click="modalOptions.setBuilding()" class="btn btn-info btn-lg" style="width: 100%;" ><i style="font-size:1.0em;" class="glyphicon glyphicon-wrench"></i><br> <span style="font-size:0.75em;">Manutenzione Ordinaria</span></a>											
							</div>
							
							<div class="col-sm-6 col-xs-6 col-md-6">
								<a href="#/dss/scenari/manutenzione" target="_blank" data-ng-click="modalOptions.setBuilding()" class="btn btn-info btn-lg" style="width: 100%;" ><i style="font-size:1.0em;" class="glyphicon glyphicon-wrench"></i><br> <span style="font-size:0.75em;">Manutenzione Straordinaria</span></a>											
							</div>
							
						 </div>

						</div>
					
					</div>
				</div>

		</div>
		
    <div class="modal-footer"> 
	<!--	<button type="button" class="btn btn-warning" data-ng-click="modalOptions.close()">{{modalOptions.closeButtonText}}</button> -->
			<button type="button" class="btn btn-primary" data-ng-click="cancel()">{{modalOptions.closeButtonText}}</button>
	</div>
    
</div>
