<div class="panel panel-default">
        <div class="panel-heading">		
		<h4 class="font-thin m-t-none m-b-none text-primary-lt">Meteo</h4>
		</div>
		<div class="panel-body">	
			<div class="row">
				<div class="col-sm-8 col-xs-8 col-md-8" align="left">
					<span class="text-black h2">{{ weatherdata.current_observation.display_location.city }}</span>										
				</div>			
				<div class="col-sm-4 col-xs-4 col-md-4" align="center">										
					<img ng-src="{{ weatherdata.current_observation.icon_url }}">
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12 col-xs-12 col-md-12" align="left">
					<span class="text-xs"> {{ weatherdata.current_observation.observation_time }} </span><br>
				</div>			
			</div><br>		
			<div class="row" align="left">	
				<div class="col-sm-4 col-xs-4 col-md-4">
					<span class="text-black h4">Temperatura</span>
				</div>			
				<div class="col-sm-4 col-xs-4 col-md-4">				
					<span class="text-black h4">Pressione</span>
				</div>
				<div class="col-sm-4 col-xs-4 col-md-4">
					<span class="text-black h4">Vento</span>
				</div>						
			</div>	
			<div class="row" align="left">	
				<div class="col-sm-4 col-xs-4 col-md-4">
					<span class="text-info h3">{{ weatherdata.current_observation.temp_c }}</span>
				</div>			
				<div class="col-sm-4 col-xs-4 col-md-4">				
					<span class="text-info h3">{{ weatherdata.current_observation.pressure_mb }}</span>
				</div>
				<div class="col-sm-4 col-xs-4 col-md-4">
					<span class="text-info h3">{{ weatherdata.current_observation.wind_kph }}</span>
				</div>						
			</div><br>
			<div class="row" align="left">	
				<div class="col-sm-4 col-xs-4 col-md-4">
					<span class="text-black h4">Umidità</span>
				</div>			
				<div class="col-sm-4 col-xs-4 col-md-4">				
					<span class="text-black h4">Visibilità</span>
				</div>
				<div class="col-sm-4 col-xs-4 col-md-4">
					<span class="text-black h4">UV</span>
				</div>						
			</div>
			<div class="row" align="left">
				<div class="col-sm-4 col-xs-4 col-md-4">
					<span class="text-info h3">{{ weatherdata.current_observation.relative_humidity}}</span>
				</div>
				<div class="col-sm-4 col-xs-4 col-md-4">
					<span class="text-info h3">{{ weatherdata.current_observation.visibility_km }}</span>
				</div>
				<div class="col-sm-4 col-xs-4 col-md-4">
					<span class="text-info h3">{{ weatherdata.current_observation.UV }}</span>
				</div>
			</div>
		</div>
</div>		          


