<div class="panel panel-default">     
	<div class="panel-body">
		<div class="row clearfix">
		
			<div class="col-xs-12 col-md-3 column">															
					<label class="control-label"><i class="glyphicon glyphicon-calendar fa fa-calendar"></i> Intervallo di osservazione</label><br>     
					<input id="date_range" type="daterange" class="form-control" ranges="ranges" ng-model="selected_dates" ng-change="changeDate()">
			</div>
			
			<div class="col-xs-12 col-md-3 column">															
											
				<label class="control-label"><i class="glyphicon glyphicon-th fa fa-calendar"></i> Pesb</label><br>     
					<select name="dati_pesb" class="form-control m-b" ng_model="selected_datipesb" ng-options="d.nome for d in tipoDatoPesb" ng-change="changeColPesb()">
					</select>
			</div>
			
			<div class="col-xs-12 col-md-3 column">																				
				<label class="control-label"><i class="glyphicon glyphicon-th fa fa-calendar"></i> Energy Meter</label><br>     
					<select name="dati_pesb" class="form-control m-b" ng_model="selected_datienergy" ng-options="d.nome for d in tipoDatoEnergyMeter" ng-change="changeColEnergy()">
					</select>

			</div>	
			
			<div class="col-xs-12 col-md-3 column">																				
				<label class="control-label"><i class="glyphicon glyphicon-th fa fa-calendar"></i> Thermal Meter</label><br>     
					<select name="dati_pesb" class="form-control m-b" ng_model="selected_datithermal" ng-options="d.nome for d in tipoDatoThermalMeter" ng-change="changeColThermal()">
					</select>
			</div>	
		</div>
		<div id="histdaticampo" style="width:100%; height:400px;"></div>					
	</div>			
</div>