<div class="panel panel-default">    

			<div class="panel-heading">
			  <h4 class="font-thin m-t-none m-b-none text-primary-lt">Seleziona Scheda</h4>              
            </div>
            <div class="panel-body"> 
				<div class="form-group">					
					<h4><i class="glyphicon glyphicon-th-large"> </i>  Pesb</h4>
					
					<div><board-selection tipo-scheda="3" numero-istanze="3"></board-selection></div>
					
					<h4><i class="glyphicon glyphicon-th-large"> </i>  Energy Meter</h4>
					
					<div><board-selection tipo-scheda="4" numero-istanze="3"></board-selection></div>
					
					<h4><i class="glyphicon glyphicon-th-large"> </i>  Thermal Meter</h4>
					
					<div><board-selection tipo-scheda="5" numero-istanze="3"></board-selection></div>
                </div>	
														 
			</div>
			
			<footer class="panel-footer text-center bg-light lter">
              <button type="submit" ng-click="updateChart()" class="btn btn-md btn-primary">Seleziona</button>
            </footer>

</div>