<div class="bg-light lter b-b wrapper-md">
  <h1 class="m-n font-thin h3"><span translate="aside.nav.DASHBOARD">Dashboard</span></h1>
</div> 


  <div class="wrapper">
			
			<div class="row row-eq-height">
				
				<div class="col-md-8">
				
					<div class ="row">
						<div class="col-md-12">
							<div todayconsumptions-chart></div>
						</div>
					</div>
				
					<div class ="row">
						<div class="col-md-12">
							<div kpi-dashboard></div>
						</div>
					</div>
					
					<div class ="row">
						<div class="col-md-12">
							<div kpi-performance></div>
						</div>
					</div>
					
				</div>
				
				<div class="col-md-4">
					<div class ="row">
						<div class="col-md-12">
							<div settings-building-selection></div>			
						</div>
					</div>	
					
					<div class ="row">
						<div class="col-md-12">
							<div weather-now></div>			
						</div>
					</div>
					
					<div class ="row">
						<div class="col-md-12">
							<div coal-consumption></div>			
						</div>
					</div>
					
				</div>

			</div>
			
				<div class="row">
				
				<!--div class="col-md-8">
					<div building-info></div>
				</div-->
				
				<div class="col-md-12">
				  <div ng-controller="MapController">
				  
						<div class="panel panel-default"> 									
									
									<div class="panel-body">
									
											<leaflet id="myMap" markers="markers" lf-center="center" defaults="default_values" lf-center="center" height="250px" width="100%"></leaflet>
																 
									</div>

						</div>
					  
				  </div>
			  </div>
												
			</div>
			
			
	</div>
	<br>
  

