      <!-- navbar header -->
      <div class="navbar-header {{app.settings.navbarHeaderColor}}" style="height: 60px;">
        <button class="pull-right visible-xs" ui-toggle-class="off-screen" data-target=".app-aside" ui-scroll-to="app">
          <i class="glyphicon glyphicon-align-justify"></i>
        </button>
        <!-- brand -->   
	    <a href="#/" class="navbar-brand text-lt">
          
          <img class="hidden-folded xs" src="styles/images/logo.png" style="margin-top: 15px;">
		  
        </a>
        <!-- / brand -->
      </div>
      <!-- / navbar header -->

	  	  
      <!-- navbar collapse -->
      <div class="collapse navbar-collapse box-shadow {{app.settings.navbarCollapseColor}}">
        <div class="col-lg-4 col-md-4 col-xs-3"></div>
		
		<div class="col-lg-4 col-md-4 col-xs-6">
				<!-- nabar right -->
				<ul class="nav navbar-nav navbar-left">	
				
				 <a href="#/" class="text-lt">          
				  <img src="styles/images/logo.png" style="height: 50px; margin-top: 5px;">
				</a>

				</ul>
				<!-- / navbar right -->
		</div>


          <div class="col-lg-4 col-md-4 col-xs-3"></div></div>
      <!-- / navbar collapse -->