
<div class="aside-wrap" ng-if="userLoggedIn">
  <!-- if you want to use a custom scroll when aside fixed, use the slimScroll
    <div class="navi-wrap" ui-jq="slimScroll" ui-options="{height:'100%', size:'8px'}">
  -->
  <div class="navi-wrap">    
  
  
	<nav ui-nav class="navi clearfix">
  
	<!-- list -->
	<ul class="nav">
	  <li class="hidden-folded padder m-t m-b-sm text-muted text-xs">
		<span translate="aside.nav.HEADER">Navigation</span>
	  </li>
	 
	  <li ui-sref-active="active">
		<a href="#/dashboard">
		  <i class="glyphicon glyphicon-tasks icon text-info-dker"></i>
		  <span class="font-bold" translate="aside.nav.DASHBOARD">Dashboard</span>
		</a>		
	  </li>
	  <li ui-sref-active="active">
		<a href="#/consumptions">		  
		  <i class="glyphicon glyphicon-list-alt icon text-info-dker"></i>
		  <span class="font-bold" translate="aside.nav.POWER">Power Consumption</span>
		</a>
	  
		<ul class="nav nav-sub dk">
		  <li class="nav-sub-header">
			<a href>
			  <span translate="aside.nav.POWER">Power Consumption</span>			  
			</a>
		  </li>
		  <li ui-sref-active="active">
			<a href="#/consumptions/historic">
			  <span> Consuntivi</span>
			</a>
		  </li>
		  <li ui-sref-active="active">
			<a href="#/consumptions/monthly">
			  <span>Consumi mensili</span>
			</a>
		  </li>
		  <li ui-sref-active="active">
			<a href="#/consumptions/profiles">
			  <span>Profili energetici</span>
			</a>
		  </li>
		  <li ui-sref-active="active">
			<a href="#/budget">
			  <span>Budget energetico</span>
			</a>
		  </li>
		</ul>
		
	  </li>	  

	  
	  <li ui-sref-active="active">
	  <a href="#/consumptions">
		  <i class="glyphicon glyphicon-equalizer icon text-info-dker"></i>
		  <span class="font-bold" translate="aside.nav.DIAGNOSIS">Diagnosi</span>	
	  </a>
	  <ul class="nav nav-sub dk">		  
			<li ui-sref-active="active">
				<a href="#/diagnosis">
				  <span>Allarmi Immobili</span>
				</a>
			  </li>
			<li ui-sref-active="active">
			  <a href="#/dss">
				  <span>Stato Immobili</span>
			  </a>
			</li>
	    </ul>
	  </li>
	  
	  <li ui-sref-active="active">	
		<a href="#/consumptions">	  
		  <i class="glyphicon glyphicon-wrench icon text-info-dker"></i>
		  <span class="font-bold" translate="aside.nav.DSS">DSS</span>	
		</a>
			<ul class="nav nav-sub dk">
			  <li ui-sref-active="active">
				  <a href="#/dss/manutenzione">
					  <span>Manutenzione Ordinaria</span>
				  </a>
			  </li>	
				<li ui-sref-active="active">
				  <a href="#/dss/ticket">
					  <span>Ticket Aperti</span>
				  </a>
			  </li>	 	
				<li ui-sref-active="active">
				  <a href="#/dss/ticketSchedulati">
					  <span>Ticket Schedulati</span>
				  </a>
			  </li>	 				  
		  </ul>
	  </li>

	  <li>
		<a href="#/input">
		  <i class="glyphicon glyphicon-pencil icon text-info-dker"></i>
		  <span class="font-bold">Anagrafica</span>
		</a>
		  <ul class="nav nav-sub dk">
			  <!--li ui-sref-active="active">
				  <a href="#/input/building">
					  <span>Anagrafica immobile</span>
				  </a>
			  </li-->
			  <li ui-sref-active="active">
				  <a href="#/input/impianti">
					  <span>Impianti</span>
				  </a>
			  </li>
			  <li ui-sref-active="active">
				  <a href="#/input/import">
					  <span>File import</span>
				  </a>
			  </li>			  
		  </ul>
	  </li>

	  <li ui-sref-active="active">
		<a href="#/logout">
		  <i class="glyphicon glyphicon-user icon text-info-dker"></i>
		  <span class="font-bold">Logout</span>
		</a>
	  </li>
	  
	  
	</ul>
	<!-- / list -->


    </nav>

  </div>
</div>





