<div class="bg-light lter b-b wrapper-md">
  <h1 class="m-n font-thin h3"><span translate="aside.nav.DSS">DSS</span></h1>
</div>

<div class="wrapper">
			<div class="row">
				
				<div class="col-md-12">
					<div kpi-dss></div>
				</div>
				
			</div>
			
			<div class="row row-eq-height">
				
			</div>
			
			
	</div>
	<br>