<div class="bg-light lter b-b wrapper-md">
  <h1 class="m-n font-thin h3">Manutenzione Ordinaria</h1>
</div>

<div class="wrapper">
	<div class="row">

	  <div class="col-md-9"> 
			<div ng-controller="DSSMapController">
				  						 
						<div class="panel panel-default">    

									<div class="panel-heading">
									  <h4 class="font-thin m-t-none m-b-none text-primary-lt">Visualizzazione Mappa</h4>              
									</div>
									
									<div class="panel-body">											
											<leaflet markers="markers" layers="layers" center="center" height="480px" width="100%"></leaflet>			 
									</div>

						</div>
					  
			</div>
	  </div>
	  
	  <div class="col-md-3">
			<div settings-single-selection></div>			
	  </div>
	</div>
	
	<div class="row">

	  <div class="col-md-12"> 
			<div class="panel panel-default">    

				<div class="panel-heading">
					<h4 class="font-thin m-t-none m-b-none text-primary-lt">Tabella Stato Attuale</h4>              
				</div>
				
				<div class="panel-body">
					<div manutenzione-ordinaria-table ></div>					 
				</div>
				
			</div> 
	  </div>
	</div>
	
</div>
<br>
