<div class="bg-light lter b-b wrapper-md">
  <h1 class="m-n font-thin h3">TICKET DA SCHEDULARE</h1>
</div>

<div class="row">
  <div class="col-md-12"> 
	<div class="panel panel-default">    
		<div class="panel-body">
			<div ticket-table ></div>			 
		</div>
	</div> 
  </div>
</div>