<div class="bg-light lter b-b wrapper-md">
  <h1 class="m-n font-thin h3">Ticket Schedulati</h1>
</div>

 <div class="wrapper">
	<div class="row">
	  <div class="col-md-9">
		 <div ticket-interventi></div> 
	  </div>
	  
	  <div class="col-md-3">
		<div settings-building-selection></div>
	  </div>
	</div>
	
 </div>