<div class="bg-light lter b-b wrapper-md">
  <h1 class="m-n font-thin h3">Anagrafica</h1>
</div>
	<div class="wrapper">
				
				<div class="row">
					<div class="col-md-9">
						<div building-info ></div>
					</div>
				
					<div class="column col-md-3">
						<div settings-building-selection></div>			
					</div>
				</div>
		
			<div class="row">
			
				<div class="column col-md-12">		
					<div building-form></div>
				</div>	
				
			</div>
	</div>
	
<div class="row clearfix"></div>		
<br><br>
								


		
	   


  
	
	
		
    
							
		
		
	


