<div class="panel panel-default bg-auto"> 

			<div class="panel-heading">
			  <h4 class="font-thin m-t-none m-b-none text-primary-lt">Dati generali della metodologia</h4>              
            </div>  

			<div class="panel-body">                       
				<form class="form-horizontal" role="form" id="form-datigenerali" name="form_datigenerali" ng-submit="onSubmit()">	
				
						<div class="col-md-12">
							<div class="row clearfix">
														
									<div class="col-md-4 column" ng-class="{'has-error': form_datigenerali.ricambioariaInverno_bench.$invalid}">															
										<label for="ricambioariaInverno_bench">Ricambi di aria orari invernali benchmark</label>												
										<input type="number" min="0" step="any" class="form-control" ng-pattern="/^\d{0,9}(\.\d{1,9})?$/" name="ricambioariaInverno_bench" id="ricambioariaInverno_bench" ng-model="datigenerali.ricambioariaInverno_bench" required>
									</div>
									
									<div class="col-md-4 column" ng-class="{'has-error': form_datigenerali.ricambioariaEstate_bench.$invalid}">															
										<label for="ricambioariaEstate_bench">Ricambi di aria orari estivi benchmark</label>												
										<input type="number" min="0" step="any" class="form-control" ng-pattern="/^\d{0,9}(\.\d{1,9})?$/" name="ricambioariaEstate_bench" id="ricambioariaEstate_bench" ng-model="datigenerali.ricambioariaEstate_bench" required>
									</div>
									
									<div class="col-md-4 column" ng-class="{'has-error': form_datigenerali.coefficienteFx.$invalid}">
											<label for="coefficienteFx">Coefficiente di utilizzazione f<span class="font-thin">x</span> da apporti solari</label>											
											<input type="number" min="0" step="any"  class="form-control" ng-pattern="/^\d{0,9}(\.\d{1,9})?$/" name="coefficienteFx" id="coefficienteFx" ng-model="datigenerali.coefficienteFx" required>
									</div>
																																				
							</div>														
						</div>	
						
						<div class="col-md-12">
							<div class="row clearfix">
								<div class="col-md-4 column" ng-class="{'has-error': form_datigenerali.fattoreFm.$invalid}">
										<label for="fattoreFm">Fattore moltiplicativo di tolleranza f<span class="font-thin">m</span></label>											
										<input type="number" min="0" step="any"  class="form-control" ng-pattern="/^\d{0,9}(\.\d{1,9})?$/" name="fattoreFm" id="fattoreFm" ng-model="datigenerali.fattoreFm" required>
								</div>
																																	
								<div class="col-md-4 column" ng-class="{'has-error': form_datigenerali.costoEnergiaElettrica.$invalid}">
										<label for="costoEnergiaElettrica">Costo unitario medio energia elettrica [€/kWh]</label>											
										<input type="number" min="0" step="any"  class="form-control" ng-pattern="/^\d{0,9}(\.\d{1,9})?$/" name="costoEnergiaElettrica" id="costoEnergiaElettrica" ng-model="datigenerali.costoEnergiaElettrica" required>
								</div>
								
								<div class="col-md-4 column" ng-class="{'has-error': form_datigenerali.costoGasolio.$invalid}">
										<label for="costoGasolio">Costo unitario medio gasolio [€/litro]</label>											
										<input type="number" min="0" step="any"  class="form-control" ng-pattern="/^\d{0,9}(\.\d{1,9})?$/" name="costoGasolio" id="costoGasolio" ng-model="datigenerali.costoGasolio" required>
								</div>
								
								
							</div>
						</div>
						
						<div class="col-md-12">
							<div class="row clearfix">
									<div class="col-md-4 column" ng-class="{'has-error': form_datigenerali.costoMetano.$invalid}">
										<label for="costoMetano">Costo unitario medio metano [€/mc]</label>											
										<input type="number" min="0" step="any"  class="form-control" ng-pattern="/^\d{0,9}(\.\d{1,9})?$/" name="costoMetano" id="costoMetano" ng-model="datigenerali.costoMetano" required>
									</div>
									<div class="col-md-4 column" ng-class="{'has-error': form_datigenerali.rendimentoNazionale.$invalid}">
										<label for="rendimentoNazionale">Rendimento del sistema elettrico nazionale</label>											
										<input type="number" min="0" step="any"  class="form-control" ng-pattern="/^\d{0,9}(\.\d{1,9})?$/" name="rendimentoNazionale" id="rendimentoNazionale" ng-model="datigenerali.rendimentoNazionale" required>
									 </div>
							</div>
						</div>


						<div class="row clearfix"></div>
						<br><br>
						
						<div class="col-md-12 column">
											<center><button type="submit" class="span5 btn btn-md btn-success"  ng-disabled="form_datigenerali.$invalid">Salva modifiche</button></center>																		
						</div>
																							
				</form>
			</div>
				
</div>